.movie {
  background-color: #f1faee;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.movieCover {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #d7dfd6;
  background-color: #627e9a;
  padding: 25px;
  margin-right: 20px;
}
.movieCover img {
  width: 200px;
  border-radius: 3px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.movie .title {
  margin-bottom: 5px;
  font-size: 1.5em;
}
.movie .title em {
  color: #627e9a;
  color: #da251c;
  font-weight: bolder;
}
.movie .releaseDate {
  margin-bottom: 15px;
}
.movie .releaseDate,
.movie .overview em {
  color: #293241;
}
.movie .movieDetails {
  padding: 25px;
}
@media (max-width: 700px) {
  .movie {
    display: flex;
    flex-direction: column;
  }
  .movie .movieCover {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
  }
}
