@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #c3d2e9;
}
